/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
/* Hide scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
background: transparent;
}

/* Hide scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
background: transparent;
}

/* Firefox scrollbar styling */
.custom-scrollbar {
scrollbar-width: thin; /* "auto" or "thin" */
scrollbar-color: transparent transparent; /* Scrollbar thumb and track */
}
  